/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

header {
	background: red;
	width: 100%;
	clear: both;
	overflow: auto;
	margin-bottom: 27px;
}

.section_logo {
	width: 220px;
	float: left;
}

.section_nav1 {
	width: 120px;
	float: right;
	padding: 5px;
}

.section_nav2 {
	width: 120px;
	float: right;
	padding: 5px;
}

.section_nav3 {
	width: 120px;
	float: right;
	padding: 5px;
}

.section_nav4 {
	width: 120px;
	float: right;
	padding: 5px;
}

.section_nav5 {
	width: 120px;
	float: right;
	padding: 5px;
}

.main {
	background: yellow;
	width: 60%;
/*	margin-left: 20%;
	margin-right: 20%;*/
	float: left;
}

.verticaltallleft {
	background: grey;
	width: 15%;
	/*margin-right: 80%;*/
	float: left;
	margin-right: 1px;
	box-shadow: none;
}

.sideBarLeft {
	background: blue;
	width: 82%;
	/*margin-right: 80%;*/
	float: right;
	margin-bottom: 27px;
}

.left {
	background: purple;
	width: 61%;
	/*margin-right: 80%;*/
	float: right;
	margin-bottom: 27px;
	margin-right: 27px;
}

.right {
	background: purple;
	width: 19%;
	/*margin-right: 80%;*/
	float: right;
	margin-bottom: 27px;
}


.row3left {
	background: yellow;
	width: 19%;
	/*margin-left: 80%;*/
	float: right;
	margin-right: 27px;
}

.row3middle {
	background: yellow;
	width: 19%;
	/*margin-left: 80%;*/
	float: right;
	margin-right: 27px;
}

.row3right {
	background: yellow;
	width: 19%;
	/*margin-left: 80%;*/
	float: right;
	margin-right: 27px;
}

.row3farright {
	background: yellow;
	width: 19%;
	/*margin-left: 80%;*/
	float: right;
}

footer {
	background: green;
	width: 100%;
	clear: both;
	overflow: auto;
	margin-top: 27px;
}

.placeholder {
	border: 1px solid #EEE;
	background: rgba(255, 255, 255, .6);
	padding: 20px;
	height: 150px;
	margin: 10px;
}

.wrapper {
	width: 100%;
	overflow: auto;
}

.wrapper2 {
	width: 100%;
	overflow: auto;
}

.wrapper3 {
	width: 100%;
	overflow: auto;
}

.wrapper4 {
	width: 80%;
	overflow: auto;
	float: right;
	margin-left: 2px;
}

.wrapper5 {
	width: 100%;
	overflow: auto;
	float: top;
}

.wrapper6 {
	width: 100%;
	overflow: auto;
}

.wrapper7 {
	overflow: auto;
	width: 100%
}
