/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Column Layout and Containers */
body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

img {
	width: 700px;
}

h1 {
	padding: 0;
	margin: 0;
}

footer {
	clear: both;
}

.outerWrapper {
	width: 960px;
	margin: 0 auto;
}

.starterHeader {

}

.starterLogoHeader h1 {

	font-weight: normal;
	color: #D00;
	display: inline;
	font-size: 3em;
}

.sartrePrimary {
	width: 700px;
	float: left;
}

.sartreSecondary {
	width: 220px;
	float: right;
	padding: 0;
	margin: 0;
}

/*Header*/

.sartreMainNav {
	padding-bottom: 30px;
}

.sartreMainNav ul {
	margin: 0;
	padding: 0;

}

.sartreMainNav li {
	float: left;
	padding: 15px 0;
	line-height: 1.5;
}

.sartreMainNav li a {
	color: white;
	background: black;
	border-right: 1px solid white;
	line-height: 1.5;
    font-size: 1.25em;
    text-align: center;
}

.sartreMainNav li:last-child a {
	border-right: none;
}

.mainArt {
	border-bottom: 1px solid gray;
	overflow: hidden;
}

.mainArtDate {
	margin: 30 0 0 50;
	color: #CCC;
	font-size: 30px;
	font-weight: normal;
}

.mainArtTitle {
	color: black;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.mainArtLink {
	color: red;
	font-size: 20px;
	float: right;
	padding-bottom: 30px;
}


.module {
	vertical-align: top;
	color: #888;
}
